/* import fonts from font */

@import url(./font.css);

/* CSS Variables */

@import url(./partials/variables.css);

/* Start Navigation */

.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav a:hover {
    background-color: var(--gardient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* End Navigation */


/* Banner Area */

.site-main .site-banner {
    background: url(../img/DSC_0071.jpg) no-repeat 0% 50%;
}